.img-container {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

img {
  width: 70%;
  margin: 0 auto;
}

.footer-container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-quote {
  font-size: 1.4rem;
  font-style: italic;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; 
    text-align: center;
    gap: 1rem;
  }

  img {
    width: 95%;
    margin: 0 auto;
  }
}
